*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#00a6fb;
    padding: 20px 20px;
}
 .link-text{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #051923e8;
    padding:5px 10px;
    border: 0.5px solid black;
    text-align: center;
    margin-top: 2px;
    margin-left: 5px;
    border-radius: 5px;
    transition: 0.5s;
}
.link-text:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.Form-main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    gap:30px;
}
input{
    font-size:20px;
    padding:15px 20px;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.527);
}
button{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.503);
    background-color: black;
    color: azure;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ;

}
.signup-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center ;

}
button:hover{
    background-color: rgb(255, 254, 254);
    color: black;
}
.welcome-img{
    width: 50%;
    height: 50vh;
}
.image-main{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:900px) {
    .nav-bar{
        font-size: 10px;
    }
    input{
        font-size:15px;
        padding:15px 30px;
    }
    button{
        font-size: 10px;
        padding: 10px 20px;
    }
    .welcome-img{
        width: 380px;
        height: 200px;
    }

}